:root {
  --anti-flash-white: #F3F4F7;
  --lavender-web: #d7dae5ff;
  --columbia-blue: #b9cddaff;
  --tiffany-blue: #a6d8d4ff;
  --cambridge-blue: #8eaf9dff;
  --gray: #6b7d7dff;

/* CSS HSL */
  --lavender-web: hsla(227, 21%, 87%, 1);
  --columbia-blue: hsla(204, 31%, 79%, 1);
  --tiffany-blue: hsla(175, 39%, 75%, 1);
  --cambridge-blue: hsla(147, 17%, 62%, 1);
  --gray: hsla(180, 8%, 45%, 1);
  --max-width: 1100px;
  --border-radius: 12px;
  font-family: 'Overpass', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: var(--anti-flash-white);
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
