.container {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: center;
}

.container :hover {
  background-color: darkgray;
}

.expandMoreButton {
  width: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 0 0 10px 10px;
}

.expandMoreIcon {
  font-size: 2rem;
  color: black;
  border-radius: 0 0 10px 10px;
  width: 100%
}

.blackme {
  color: black
}