.container {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: center;
}

.blackmeShow {
  color: black;
  background-color: lightgray;
  transition: all 3s ease-in-out;
}

.blackmeHidden {
  display: none;
}